.red {
    color: #FF0000;
}

.dark-red { 
    color: #C20000;
}

.light-red {
    color: #FF5A36;
}

.bright-red { 
    color: #FF4D4D;
}

.gray-1 {
    color: #333333;
}

.gray-2 {
    color: #707070;
}

.gray-3 {
    color: #999999;
}

.gray-4{
    color: #C1C1C1;
}

.gray-5 {
    color: #EAEAEA;
}

.white {
    color: #FFFFFF;
}

.grey { 
    color: #F8F8F8;
}

.informative { 
    color: #235CD4;
}

.negative { 
    color: #BC0000;
}

.notice { 
    color: #DF7112;
}

.positive { 
    color: #0F7D3E;
}

.link {
    color: #2522BB;
}

